<div class="narrow">
    <article class="dropzone-container">
        {{#drop-zone action="upload" status="showStatus" background=image.data}}
        	<div {{bind-attr class=":text image:hide"}}>
                Click here or drop picture files <span class="text-muted">(png, jpg, gif)</span> into this box.
            </div>
        	<div {{bind-attr class=":image image:hide"}}></div>
        {{/drop-zone}}
        <div class="description">{{image.file.name}}</div>
    </article>

    <article class="row">
        <div class="medium-6 columns">
            <button {{action 'preview'}} {{bind-attr class=":success :left image::invisible"}}>Continue</button>
        </div>
        <div class="medium-6 columns">
            <button {{action 'reset'}} {{bind-attr class=":right image::invisible"}}>Reset</button>
        </div>
    </article>
</div>